<!doctype html>
<html lang="ru">
	<head>
		<meta charset="windows-1251" />
<title>Фильмы по алфавиту &laquo;0-9&raquo;</title>
<meta name="description" content="алфавит Фильмов на букву &laquo;0-9&raquo;" />
<meta name="keywords" content="" /><meta name="author" content="Filmix"/><meta property="og:type" content="website" />
<meta property="og:url" content="https://filmix.co/" />
<meta property="og:site_name" content="Filmix" />
<meta property="og:title" content="Фильмы по алфавиту &laquo;0-9&raquo;" />
<meta property="og:description" content="алфавит Фильмов на букву &laquo;0-9&raquo;" />
<meta property="og:image" content="https://filmix.co/templates/Filmix/media/img/filmix.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="70" />
<meta property="og:image:height" content="70" />
<meta property="twitter:card" content="алфавит Фильмов на букву &laquo;0-9&raquo;" />
<meta property="twitter:site" content="@filmix" />
<meta property="twitter:title" content="Фильмы по алфавиту &laquo;0-9&raquo;" />
<meta property="twitter:description" content="алфавит Фильмов на букву &laquo;0-9&raquo;" />
<meta property="twitter:domain" content="https://filmix.co/" />
<meta property="twitter:image:src" content="https://filmix.co/templates/Filmix/media/img/filmix.png" />

<script type="text/javascript" src="https://filmix.co/engine/classes/js/jquery.js"></script>
<script type="text/javascript" src="https://filmix.co/engine/classes/js/jqueryui.js"></script>
<script type="text/javascript" src="https://filmix.co/engine/classes/js/dle_js.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Security-Policy" content="default-src * blob: data: 'unsafe-inline' 'unsafe-eval'; script-src * blob: data: 'unsafe-inline' 'unsafe-eval'; connect-src * data: 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; child-src * blob: data: ; style-src * 'unsafe-inline';" />
		
		<!-- PUSHLAT -->
		<script async defer src="/sw.js"></script>
		<!-- END PUSHLAT -->
		
		<link href="https://filmix.co/templates/Filmix/media/public/css/7b16976cc902e87231ab5ac88d180b9a_catalog.css?v3.0.2" rel='stylesheet' />
		<link href="https://filmix.co/templates/Filmix/media/public/css/7b16976cc902e87231ab5ac88d180b9a_bundle.css?v3.0.2" rel='stylesheet' />
		<link rel="icon" href="https://filmix.co/templates/Filmix/media/img/favicon.ico" type="image/x-icon" />
		<link href="https://filmix.co/templates/Filmix/media/css/fonts.css?v3.0.2" rel="stylesheet" media="all" />
		<link href="https://filmix.co/templates/Filmix/media/fonts/icomoon/style.css?v3.0.2" rel="stylesheet" media="all" />
		<link href="https://filmix.co/templates/Filmix/media/css/vendor.css" rel="stylesheet" media="all" />
		<link href="https://filmix.co/templates/Filmix/media/css/jquery.mCustomScrollbar.css" rel="stylesheet" media="all" />
		
		
		<link rel="canonical" href="https://filmix.co/catalog/0-9" />
		
		
		
		
		<script src="https://filmix.co/templates/Filmix/media/public/js/7b16976cc902e87231ab5ac88d180b9a_main.js"></script>
		<script>var fuckAdBlock = undefined;</script>
		<!-- Add fancyBox -->
		<link rel="stylesheet" href="https://filmix.co/templates/Filmix/media/css/jquery.fancybox.css?v3.0.2" media="screen" />
		<script src="https://filmix.co/templates/Filmix/media/vendor/vendor.js?v3.0.2"></script>
		
		<script nonce="2726c7f26c" type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "https://filmix.co/",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "https://filmix.co/search/{query}",
				"query-input": "required name=query"
			}
		}
		</script>
	</head>
	<body class="">
		
		<!--LiveInternet counter-->
		<script nonce="2726c7f26c" type="text/javascript">
		new Image().src = "//counter.yadro.ru/hit?r"+
		escape(document.referrer)+((typeof(screen)=="undefined")?"":
		";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
		screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
		";"+Math.random();</script>
		<!--/LiveInternet-->
		<div class="page-wrapper">
			<script type="text/javascript">
<!--
var site_root       = 'https://filmix.co/';
var site_name		= 'filmix.co';
var user_data	   = {is_user_pro: 0, is_user_pro_plus: 0};
var dle_admin      = '';
var dle_login_hash = '03498bc1797dd4bb1d8c0627ec4a672f';
var dle_group      = 4;
var dle_skin       = 'Filmix';
var dle_wysiwyg    = '0';
var quick_wysiwyg  = '0';
var dle_act_lang   = ["Да", "Нет", "Ввод", "Отмена", "Сохранить", "Удалить", "Загрузка. Пожалуйста, подождите..."];
var menu_short     = 'Быстрое редактирование';
var menu_full      = 'Полное редактирование';
var menu_profile   = 'Просмотр профиля';
var menu_send      = 'Отправить сообщение';
var menu_uedit     = 'Админцентр';
var dle_info       = 'Информация';
var dle_confirm    = 'Подтверждение';
var dle_prompt     = 'Ввод информации';
var dle_req_field  = 'Заполните все необходимые поля';
var dle_del_agree  = 'Вы действительно хотите удалить? Данное действие невозможно будет отменить';
var dle_spam_agree = 'Вы действительно хотите отметить пользователя как спамера? Это приведёт к удалению всех его комментариев';
var dle_complaint  = 'Укажите текст Вашей жалобы для администрации:';
var dle_big_text   = 'Выделен слишком большой участок текста.';
var dle_orfo_title = 'Укажите комментарий для администрации к найденной ошибке на странице';
var dle_p_send     = 'Отправить';
var dle_p_send_ok  = 'Уведомление успешно отправлено';
var dle_save_ok    = 'Изменения успешно сохранены. Обновить страницу?';
var skin_sw_allow  = '1';
var vast_url	   = '';
var dle_del_news   = 'Удалить статью';
var allow_dle_delete_news   = false;
var dle_search_delay   = false;
var dle_search_value   = '';
var player_quality = false;
$(function(){
	FastSearch();
});
var dle_user_id=1152454;
var dle_user_name="testbox";
//-->
</script>
			<header id="header">
				<div class="container">
					<div class="logo"><a href="https://filmix.co"></a></div>
					<div class="search">
	<form method="post" class="search_header" role="search">
		<div class="search-wrap icon-search">
			<input type="text" name="story" id="search" placeholder="Что ищем?" autocomplete="off" >
			<input type="hidden" name="do" value="search" />
			<input type="hidden" name="simple" value="1" />
			<input type="hidden" name="subaction" value="search" />
			<input class="f_submited" type="submit" value="">
			<a href="https://filmix.co/search" class="costumSearch" rel="nofollow">расширенный поиск</a>
			<span class="close-search icon-close"></span>
		</div>
	</form>
	<div class="searchResults">
	</div>
</div>
<script type="text/html" id="search_quick_item">
	<% for (var i = 0, l = message.length; i < l; i++) { %>
		<div class="search-quick-item" id="<%=message[i].id%>">
			<a href="<%=message[i].link%>">
			<% var url = message[i].poster.split('/');
				if (url[url.length-1] === 'none.png') { %>
					<span class="<%='no-poster icon-noimage'%>"><img src="<%=message[i].poster%>" class="poster"></span>
				<% } else { %>
					<span class=""><img src="<%=message[i].poster%>" class="poster"></span>
				<% } %>
				<div class="right">
					<div class="title"><%=message[i].title%></div>
					<div class="original-title"><%=message[i].original_name%></div>
					<div>
						<span class="year"><%=message[i].year%></span>
						<span class="category"><%=message[i].categories%></span>
					</div>
					<% if (message[i].last_serie !== '') { %>
						<div class="additional-info"><span class="left">Добавлена:</span> <%=message[i].last_serie%></div>
					<% } %>
				</div>
			</a>
			<% if (dle_group === 1 || dle_group === 2) { %>
				<a href="<%=site_root + 'admin.php?mod=editnews&action=editnews&id=' + message[i].id%>" target="_blank" class="edit icon-adminEdit"></a>
			<% } %>
		</div>
	<% } %>
</script>
					

<nav class="header-menu">
	<ul>
		<li>
			
			
				<span class="menu-title">Фильмы</span>
			
			<div class="sub-nav-wrapper">
				<ul class="sub-main-nav col-one new-style">
					<li class="hasul">
						<span class="data-page" data-page="https://filmix.co/filmy">Все фильмы</span>
					</li>
					<li class="nomargin">
						<ul>
							<li><span class="data-page" data-page="https://filmix.co/catalog/а">По алфавиту</span></li>
							<li><span class="data-page" data-page="https://filmix.co/premiere">Премьеры</span></li>
							<li><span class="data-page" data-page="https://filmix.co/playlists/filmy">Подборки</span></li>
							<li class="nomargin">
								<ul class="qualities">
									<li><span class="data-page" data-page="https://filmix.co/filmy/qg">720p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/filmy/qh">1080p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/filmy/q2">1440p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/filmy/q4">2160p</span></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="hasul">
						<span class="subtitle">По странам:</span>
						<ul>
							<li><span class="data-page" data-page="https://filmix.co/filmy/c996">Зарубежные</span></li>
							<li><span class="data-page" data-page="https://filmix.co/filmy/c6">Русские</span></li>
							<li><span class="data-page" data-page="https://filmix.co/filmy/c64">Советские</span></li>
						</ul>
					</li>
					<li class="top250-mark"><span class="data-page" data-page="https://filmix.co/top250">Топ 250</span></li>
					<li class="nomargin">
						<span class="years-line">
							<span class="data-page" data-page="https://filmix.co/films/y2020" >2020</span><span class="data-page" data-page="https://filmix.co/films/y2019" >2019</span><span class="data-page" data-page="https://filmix.co/films/y2018" >2018</span>
						</span>
					</li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/animes">Аниме</span></li>
					<li><span class="data-page" data-page="https://filmix.co/biografia">Биография</span></li>
					<li><span class="data-page" data-page="https://filmix.co/boevik">Боевики</span></li>
					<li><span class="data-page" data-page="https://filmix.co/vesterny">Вестерн</span></li>
					<li><span class="data-page" data-page="https://filmix.co/voennyj">Военный</span></li>
					<li><span class="data-page" data-page="https://filmix.co/detektivy">Детектив</span></li>
					<li><span class="data-page" data-page="https://filmix.co/detskij">Детский</span></li>
					<li><span class="data-page" data-page="https://filmix.co/for_adults">Для взрослых</span></li>
					<li><span class="data-page" data-page="https://filmix.co/dokumentalenyj">Документальные</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/drama">Драмы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/istoricheskie">Исторический</span></li>
					<li><span class="data-page" data-page="https://filmix.co/komedia">Комедии</span></li>
					<li><span class="data-page" data-page="https://filmix.co/korotkometragka">Короткометражка</span></li>
					<li><span class="data-page" data-page="https://filmix.co/kriminaly">Криминал</span></li>
					<li><span class="data-page" data-page="https://filmix.co/melodrama">Мелодрамы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/mistika">Мистика</span></li>
					<li><span class="data-page" data-page="https://filmix.co/music">Музыка</span></li>
					<li><span class="data-page" data-page="https://filmix.co/muzkl">Мюзикл</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/novosti">Новости</span></li>
					<li><span class="data-page" data-page="https://filmix.co/original">Оригинал</span></li>
					<li><span class="data-page" data-page="https://filmix.co/otechestvennye">Отечественные</span></li>
					<li><span class="data-page" data-page="https://filmix.co/tvs">Передачи с ТВ</span></li>
					<li><span class="data-page" data-page="https://filmix.co/prikluchenija">Приключения</span></li>
					<li><span class="data-page" data-page="https://filmix.co/realnoe_tv">Реальное ТВ</span></li>
					<li><span class="data-page" data-page="https://filmix.co/semejnye">Семейный</span></li>
					<li><span class="data-page" data-page="https://filmix.co/sports">Спорт</span></li>
					<li><span class="data-page" data-page="https://filmix.co/tok_show">Ток-шоу</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/triller">Триллеры</span></li>
					<li><span class="data-page" data-page="https://filmix.co/uzhasu">Ужасы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/fantastiks">Фантастика</span></li>
					<li><span class="data-page" data-page="https://filmix.co/film_noir">Фильм-нуар</span></li>
					<li><span class="data-page" data-page="https://filmix.co/fjuntezia">Фэнтези</span></li>
					<li><span class="data-page fatter-cat" data-page="https://filmix.co/engl">На английском</span></li>
					<li><span class="data-page fatter-cat" data-page="https://filmix.co/ukraine">На украинском</span></li>
				</ul>
				<div class="lucky"><span class="data-page" data-page="https://filmix.co/random_movie">Случайный</span></div>
			</div>
		</li>
		<li>
			
			
				<span class="menu-title">Сериалы</span>
			
			<div class="sub-nav-wrapper">
				<ul class="sub-main-nav col-one new-style">
					<li class="hasul"><span class="data-page" data-page="https://filmix.co/serials">Все сериалы</span></li>
					<li class="nomargin">
						<ul>
							<li><span class="data-page" data-page="https://filmix.co/catalog/s7/a">По алфавиту</span></li>
							<li><span class="data-page" data-page="https://filmix.co/playlists/serials">Подборки</span></li>
							<li class="nomargin">
								<ul class="qualities">
									<li><span class="data-page" data-page="https://filmix.co/serials/qg">720p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/serials/qh">1080p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/serials/q2">1440p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/serials/q4">2160p</span></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="hasul"><span class="subtitle">По странам:</span>
						<ul>
							<li><span class="data-page" data-page="https://filmix.co/serials/c996">Зарубежные</span></li>
							<li><span class="data-page" data-page="https://filmix.co/serials/c6">Русские</span></li>
							<li><span class="data-page" data-page="https://filmix.co/serials/c26">Турецкие</span></li>
							<li><span class="data-page" data-page="https://filmix.co/serials/c54">Индийские</span></li>
						</ul>
					</li>
					<li class="top250-mark"><span class="data-page" data-page="https://filmix.co/top250s">Топ 250</span></li>
					<li class="nomargin">
						<span class="years-line">
							<span class="data-page" data-page="https://filmix.co/serialy/y2020" >2020</span><span class="data-page" data-page="https://filmix.co/serialy/y2019" >2019</span><span class="data-page" data-page="https://filmix.co/serialy/y2018" >2018</span>
						</span>
					</li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/animes/s7">Аниме</span></li>
					<li><span class="data-page" data-page="https://filmix.co/biografia/s7">Биография</span></li>
					<li><span class="data-page" data-page="https://filmix.co/boevik/s7">Боевики</span></li>
					<li><span class="data-page" data-page="https://filmix.co/vesterny/s7">Вестерн</span></li>
					<li><span class="data-page" data-page="https://filmix.co/voennyj/s7">Военный</span></li>
					<li><span class="data-page" data-page="https://filmix.co/detektivy/s7">Детектив</span></li>
					<li><span class="data-page" data-page="https://filmix.co/detskij/s7">Детский</span></li>
					<li><span class="data-page" data-page="https://filmix.co/for_adults/s7">Для взрослых</span></li>
					<li><span class="data-page" data-page="https://filmix.co/dokumentalenyj/s7">Документальные</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/dorama/s7">Дорамы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/drama/s7">Драмы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/game/s7">Игра</span></li>
					<li><span class="data-page" data-page="https://filmix.co/istoricheskie/s7">Исторический</span></li>
					<li><span class="data-page" data-page="https://filmix.co/komedia/s7">Комедии</span></li>
					<li><span class="data-page" data-page="https://filmix.co/kriminaly/s7">Криминал</span></li>
					<li><span class="data-page" data-page="https://filmix.co/melodrama/s7">Мелодрамы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/mistika/s7">Мистика</span></li>
					<li><span class="data-page" data-page="https://filmix.co/music/s7">Музыка</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/muzkl/s7">Мюзикл</span></li>
					<li><span class="data-page" data-page="https://filmix.co/novosti/s7">Новости</span></li>
					<li><span class="data-page" data-page="https://filmix.co/original/s7">Оригинал</span></li>
					<li><span class="data-page" data-page="https://filmix.co/otechestvennye/s7">Отечественные</span></li>
					<li><span class="data-page" data-page="https://filmix.co/tvs/s7">Передачи с ТВ</span></li>
					<li><span class="data-page" data-page="https://filmix.co/prikluchenija/s7">Приключения</span></li>
					<li><span class="data-page" data-page="https://filmix.co/realnoe_tv/s7">Реальное ТВ</span></li>
					<li><span class="data-page" data-page="https://filmix.co/semejnye/s7">Семейный</span></li>
					<li><span class="data-page" data-page="https://filmix.co/sitcom/s7">Ситком</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/sports/s7">Спорт</span></li>
					<li><span class="data-page" data-page="https://filmix.co/tok_show/s7">Ток-шоу</span></li>
					<li><span class="data-page" data-page="https://filmix.co/triller/s7">Триллеры</span></li>
					<li><span class="data-page" data-page="https://filmix.co/uzhasu/s7">Ужасы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/fantastiks/s7">Фантастика</span></li>
					<li><span class="data-page" data-page="https://filmix.co/fjuntezia/s7">Фэнтези</span></li>
					<li><span class="data-page fatter-cat" data-page="https://filmix.co/engl/s7">На английском</span></li>
					<li><span class="data-page fatter-cat" data-page="https://filmix.co/ukraine/s7">На украинском</span></li>
				</ul>
				<div class="lucky"><span class="data-page" data-page="https://filmix.co/random_serial">Случайный</span></div>
			</div>
		</li>
		<li>
			
			
				<span class="menu-title">Мультфильмы</span>
			
			<div class="sub-nav-wrapper mult-wrapper">
				<ul class="sub-main-nav col-one new-style">
					<li class="hasul"><span class="data-page" data-page="https://filmix.co/multfilms">Все мультики</span></li>
					<li class="nomargin">
						<ul>
							<li><span class="data-page" data-page="https://filmix.co/multserialy">Мультсериалы</span></li>
							<li><span class="data-page" data-page="https://filmix.co/catalog/s14/a">По алфавиту</span></li>
							<li><span class="data-page" data-page="https://filmix.co/playlists/multfilms">Подборки</span></li>
							<li class="nomargin">
								<ul class="qualities">
									<li><span class="data-page" data-page="https://filmix.co/multfilms/qg">720p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/multfilms/qh">1080p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/multfilms/q2">1440p</span></li>
									<li><span class="data-page" data-page="https://filmix.co/multfilms/q4">2160p</span></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="hasul"><span class="subtitle">По странам:</span>
						<ul>
							<li><span class="data-page" data-page="https://filmix.co/multfilms/c996">Зарубежные</span></li>
							<li><span class="data-page" data-page="https://filmix.co/multfilms/c6">Русские</span></li>
							<li><span class="data-page" data-page="https://filmix.co/multfilms/c64">Советские</span></li>
						</ul>
					</li>
					<li class="top250-mark"><span class="data-page" data-page="https://filmix.co/top250m">Топ 250</span></li>
					<li class="nomargin">
						<span class="years-line">
							<span class="data-page" data-page="https://filmix.co/multfilmy/y2020" >2020</span><span class="data-page" data-page="https://filmix.co/multfilmy/y2019" >2019</span><span class="data-page" data-page="https://filmix.co/multfilmy/y2018" >2018</span>
						</span>
					</li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/animes/s14">Аниме</span></li>
					<li><span class="data-page" data-page="https://filmix.co/biografia/s14">Биография</span></li>
					<li><span class="data-page" data-page="https://filmix.co/boevik/s14">Боевики</span></li>
					<li><span class="data-page" data-page="https://filmix.co/vesterny/s14">Вестерн</span></li>
					<li><span class="data-page" data-page="https://filmix.co/voennyj/s14">Военный</span></li>
					<li><span class="data-page" data-page="https://filmix.co/detektivy/s14">Детектив</span></li>
					<li><span class="data-page" data-page="https://filmix.co/detskij/s14">Детский</span></li>
					<li><span class="data-page" data-page="https://filmix.co/for_adults/s14">Для взрослых</span></li>
					<li><span class="data-page" data-page="https://filmix.co/dokumentalenyj/s14">Документальные</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/drama/s14">Драмы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/istoricheskie/s14">Исторический</span></li>
					<li><span class="data-page" data-page="https://filmix.co/komedia/s14">Комедии</span></li>
					<li><span class="data-page" data-page="https://filmix.co/kriminaly/s14">Криминал</span></li>
					<li><span class="data-page" data-page="https://filmix.co/melodrama/s14">Мелодрамы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/mistika/s14">Мистика</span></li>
					<li><span class="data-page" data-page="https://filmix.co/music/s14">Музыка</span></li>
					<li><span class="data-page" data-page="https://filmix.co/muzkl/s14">Мюзикл</span></li>
					<li><span class="data-page" data-page="https://filmix.co/original/s14">Оригинал</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page" data-page="https://filmix.co/otechestvennye/s14">Отечественные</span></li>
					<li><span class="data-page" data-page="https://filmix.co/prikluchenija/s14">Приключения</span></li>
					<li><span class="data-page" data-page="https://filmix.co/semejnye/s14">Семейный</span></li>
					<li><span class="data-page" data-page="https://filmix.co/sports/s14">Спорт</span></li>
					<li><span class="data-page" data-page="https://filmix.co/triller/s14">Триллеры</span></li>
					<li><span class="data-page" data-page="https://filmix.co/uzhasu/s14">Ужасы</span></li>
					<li><span class="data-page" data-page="https://filmix.co/fantastiks/s14">Фантастика</span></li>
					<li><span class="data-page" data-page="https://filmix.co/fjuntezia/s14">Фэнтези</span></li>
					<li><span class="data-page fatter-cat" data-page="https://filmix.co/engl/s14">На английском</span></li>
				</ul>
				<ul class="sub-main-nav">
					<li><span class="data-page fatter-cat" data-page="https://filmix.co/ukraine/s14">На украинском</span></li>
				</ul>
				<div class="lucky"><span class="data-page" data-page="https://filmix.co/random_mult">Случайный</span></div>
			</div>
		</li>
		<li><span class="menu-title">Микс</span>
			<ul class="sub-nav-small-wrapper">
				<li><span class="data-page" data-page="https://filmix.co/persons">актеры</span></li>
				<li><span class="data-page" data-page="https://filmix.co/reviews">рецензии</span></li>
				<li><span class="data-page" data-page="https://filmix.co/mynews">новости кино</span></li>
				<li><span class="data-page" data-page="https://filmix.co/soundtracks">саундтреки</span></li>
				<li><span class="data-page" data-page="https://filmix.co/trejlery">трейлеры</span></li>
				<li><span class="data-page" data-page="https://filmix.co/order_board">стол заказов</span></li>
				<li><span class="data-page become-pro" data-page="https://filmix.co/pro.html">стать <span class="tablet"><span class="red">pro</span><span class="green">pro+</span></span></span></li>
			</ul>
		</li>
		<li><span class="data-page for-4k" data-page="https://filmix.co/filmy/q4">4K</span></li>
	</ul>
</nav>

					
<div class="login">
	<a href="https://filmix.co/profile/testbox" class="user-profile">
		<div class="user-pic avatar-block">
			
			
			
			
			<div class="pro-comment">
				<img src="/templates/Filmix/dleimages/noavatar.png" alt="testbox" class="avatar" onerror="this.src='/templates/Filmix/dleimages/noavatar.png'" />
			</div>
		</div>
		<span class="user-name ">testbox</span>
	</a>
	
	<span class="user-details icon-dots">&nbsp;</span>
	<div class="login-items">
		
		<a href="/my_settings" class="login-item panel-admin"><b>Настройки профиля</b></a>
		<a href="https://filmix.co/profile/testbox" class="login-item my-page">Моя страница</a>
		<a href="/my_settings" class="login-item my-settings-page"></a>
		
		<div class="login-item my-pro-settings-page">PRO аккаунт: <span class="no-pro">неактивен</span></div>
		<a href="/messages" class="login-item">Личные сообщения </a>
		<a href="/last_seen" class="login-item">История</a>
		<a href="/consoles" class="login-item">Приставки</a>
		<a href="https://filmix.co/favorites" class="login-item">Закладки </a>
	 	<a href="/saved" class="login-item">Продолжить</a>
		<a href="/watch_later" class="login-item">Посмотреть позже</a>
		<a href="https://filmix.co/?action=logout" class="login-item logoute">Выйти из кабинета</a>
	</div>
</div>


					<div class="notifications">
	<div class="bell">
		<noindex>
		
		<span class="count"></span>
			<div class="sub-nav-wrapper">
				<span class="title"></span>
				<ul></ul>
				<a href="https://filmix.co/my_news" class="item-href archive"><span></span></a>
			</div>
		
		
		</noindex>
	</div>
</div>

				</div>
			</header>
			
			
			
			
			<div id="main" class="catalog">
			
			<div id="top" style="display: none;">
				<span>
					<i class="pic icon-playSlim"></i>
					<span class="text">Наверх</span>
				</span>
			</div>
			
			
			
			
			<div class="container-main main-block">
				
				<section class="content" id="content">
					<!-- BREADCRUMB -->
					<div id="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
						<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
	<a href="https://filmix.co/" itemprop="item" class=""><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" />
	
</span>
<span class="separetor">/</span><span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
	<a href="https://filmix.co/catalog/%E0" itemprop="item" class=""><span itemprop="name">Каталог</span></a><meta itemprop="position" content="2" />
	
</span>
<span class="separetor">/</span><span>
	
	<span class="active">0-9</span>
</span>

					</div>
					
					
						<div class="head-title">
					
						<!-- TITLE -->
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
					
					
					
						<div class="subtitle">Список Фильмов</div>
					</div>
					
					
					
						
					
					<!-- SORT -->
					
					
					<!-- MENU -->
					
					
					
					
					<div class="line-block">
						<div id='dle-content'><div class="film">
	<a href="https://filmix.co/uzhasu/137073-00-mgc-2019.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/00-mgc-2019_137073_0.jpg" class="film-poster">
		<div class="film-name">0,0 МГц</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/dokumentalenyj/93481-09-amper-09-ampere-2009.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/09-amper-09-ampere-2009_93481_0.jpg" class="film-poster">
		<div class="film-name">0,9 Ампер</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/komedia/120578-001-trolling-2017.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/001-trolling-2017_120578_0.jpg" class="film-poster">
		<div class="film-name">001 Троллинг</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/komedia/32367-002-operaciya-luna-002-operazione-luna-1965.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/002-operaciya-luna-002-operazione-luna-1965_32367_0.jpg" class="film-poster">
		<div class="film-name">002: Операция Луна</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/2093-films-007_brillianty-navsegda_1971.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/films-007_brillianty-navsegda_1971_2093_0.jpg" class="film-poster">
		<div class="film-name">007: Бриллианты навсегда</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/3927-f6-dzheyms-bond-007-vid-na-ubiystvo_1985.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/f6-dzheyms-bond-007-vid-na-ubiystvo_1985_3927_0.jpg" class="film-poster">
		<div class="film-name">007: Вид на убийство</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/2091-4k_007_goldfinger_1964.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/4k_007_goldfinger_1964_2091_0.jpg" class="film-poster">
		<div class="film-name">007: Голдфингер</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/2090-agent-007-doktor-1962.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/agent-007-doktor-1962_2090_0.jpg" class="film-poster">
		<div class="film-name">007: Доктор Ноу</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4611-t5-007-zhivesh-tolko-dvazhdy-1967.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/t5-007-zhivesh-tolko-dvazhdy-1967_4611_0.jpg" class="film-poster">
		<div class="film-name">007: Живешь только дважды</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/boevik/4610-films_007_zhivi-i-day-umeret_1973.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/films_007_zhivi-i-day-umeret_1973_4610_0.jpg" class="film-poster">
		<div class="film-name">007: Живи и дай умереть</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4588-1-007-zavtra-ne-umret_nikogda_1997.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/1-007-zavtra-ne-umret_nikogda_1997_4588_0.jpg" class="film-poster">
		<div class="film-name">007: Завтра не умрет никогда</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4560-3f-007-zolotoy-glaz_1995.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/3f-007-zolotoy-glaz_1995_4560_0.jpg" class="film-poster">
		<div class="film-name">007: Золотой глаз</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4587-007-i-celogo-mira_f_1999.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/007-i-celogo-mira_f_1999_4587_0.jpg" class="film-poster">
		<div class="film-name">007: И целого мира мало</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/3471-dzheyms-bond-007-iz-rossii-s-lyubovyu-1963.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/dzheyms-bond-007-iz-rossii-s-lyubovyu-1963_3471_0.jpg" class="film-poster">
		<div class="film-name">007: Из России с любовью</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/1683-f7-007-iskra-iz-glaz-1987.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/f7-007-iskra-iz-glaz-1987_1683_0.jpg" class="film-poster">
		<div class="film-name">007: Искры из глаз</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/3636-bond-007-kazino_rojal_2006.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/bond-007-kazino_rojal_2006_3636_0.jpg" class="film-poster">
		<div class="film-name">007: Казино Рояль</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/6370-kvant-miloserdiya-2008.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/kvant-miloserdiya-2008_6370_0.jpg" class="film-poster">
		<div class="film-name">007: Квант милосердия</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/53868-007_koordinaty_skayfol_2012.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/007_koordinaty_skayfol_2012_53868_0.jpg" class="film-poster">
		<div class="film-name">007: Координаты «Скайфолл»</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4589-2-007-licenziya-na-ubiystvo.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/2-007-licenziya-na-ubiystvo_4589_0.jpg" class="film-poster">
		<div class="film-name">007: Лицензия на убийство</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4607-007_lunnyj-gonschik-1979.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/007_lunnyj-gonschik-1979_4607_0.jpg" class="film-poster">
		<div class="film-name">007: Лунный гонщик</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/3929-films_dzheyms-bond-007-na-sekretnoy-sluzhbe-ee-velichestva_1969.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/films_dzheyms-bond-007-na-sekretnoy-sluzhbe-ee-velichestva_1969_3929_0.jpg" class="film-poster">
		<div class="film-name">007: На секретной службе ее</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/28649-nikogda-ne-govori-nikogda-never-say-never-again-1983.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/nikogda-ne-govori-nikogda-never-say-never-again-1983_28649_0.jpg" class="film-poster">
		<div class="film-name">007: Никогда не говори «никогда»</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/boevik/4590-4590.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/4590_4590_0.jpg" class="film-poster">
		<div class="film-name">007: Осьминожка</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/97626-bond-007_spektr_2015.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/bond-007_spektr_2015_97626_0.jpg" class="film-poster">
		<div class="film-name">007: СПЕКТР</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4591-f5-007-tolko-dlya-tvoih-glaz.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/f5-007-tolko-dlya-tvoih-glaz_4591_0.jpg" class="film-poster">
		<div class="film-name">007: Только для твоих глаз</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/5692-bond_007-umri-no-ne-seychas_2002.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/bond_007-umri-no-ne-seychas_2002_5692_0.jpg" class="film-poster">
		<div class="film-name">007: Умри, но не сейчас</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4609-007-chelovek-s-zolotym-pistoletom.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/007-chelovek-s-zolotym-pistoletom_4609_0.jpg" class="film-poster">
		<div class="film-name">007: Человек с золотым пистолетом</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/2092-dzheyms-bond-007-sharovaya-1965.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/dzheyms-bond-007-sharovaya-1965_2092_0.jpg" class="film-poster">
		<div class="film-name">007: Шаровая молния</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/triller/4608-g6-bond-007-shpion-kotoryy-menya-1977.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/g6-bond-007-shpion-kotoryy-menya-1977_4608_0.jpg" class="film-poster">
		<div class="film-name">007: Шпион, который меня любил</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/animes/74902-kiborg-009-novyy-zavet-009-recyborg-2012.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/kiborg-009-novyy-zavet-009-recyborg-2012_74902_0.jpg" class="film-poster">
		<div class="film-name">009 король: Киборг</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/fantastiks/91424-009-1-konec-nachala-009-no-1-the-end-of-the-beginning-2013.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/009-1-konec-nachala-009-no-1-the-end-of-the-beginning-2013_91424_0.jpg" class="film-poster">
		<div class="film-name">009-1: Конец начала</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/komedia/8152-0010-2009.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/0010-2009_8152_0.jpg" class="film-poster">
		<div class="film-name">00:10</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/drama/82544-0334-zemletryasenie-v-chili-0334-terremoto-en-chile-2011.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/0334-zemletryasenie-v-chili-0334-terremoto-en-chile-2011_82544_0.jpg" class="film-poster">
		<div class="film-name">03:34. Землетрясение в Чили</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/melodrama/126920-0429-2016.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/0429-2016_126920_0.jpg" class="film-poster">
		<div class="film-name">04:29</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/drama/17786-07-y-menyaet-kurs-2007.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/07-y-menyaet-kurs-2007_17786_0.jpg" class="film-poster">
		<div class="film-name">07-й меняет курс</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/dokumentalenyj/101869-1-odin-one-2013.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/1-odin-one-2013_101869_0.jpg" class="film-poster">
		<div class="film-name">1 (Один)</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/drama/34099-neprikasaemye-2011.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/neprikasaemye-2011_34099_0.jpg" class="film-poster">
		<div class="film-name">1+1</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/drama/120215-11-narushaya-pravila-2016.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/11-narushaya-pravila-2016_120215_0.jpg" class="film-poster">
		<div class="film-name">1+1. Нарушая правила</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/drama/128860-3f-neprikasaemye-golivud-2017.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/3f-neprikasaemye-golivud-2017_128860_0.jpg" class="film-poster">
		<div class="film-name">1+1: Голливудская история</div>
	</a>
</div><div class="film">
	<a href="https://filmix.co/prikluchenija/119699-1everest-2017.html" class="film-link ">
		<img src="https://thumbs.filmix.co/posters/thumbs/w220/1everest-2017_119699_0.jpg" class="film-poster">
		<div class="film-name">1+Эверест</div>
	</a>
</div><div class="navigation">
	
	<!--module catalog pager--><span>1</span> <a href="https://filmix.co/catalog/0-9/page/2/">2</a> <a href="https://filmix.co/catalog/0-9/page/3/">3</a> <a href="https://filmix.co/catalog/0-9/page/4/">4</a> <span style="background: none;border: none;color: inherit;line-height: 44px;">... </span><a href="https://filmix.co/catalog/0-9/page/21/">21</a><!--module catalog pager end-->
	
</div><script> var filter_data={};</script></div>
					</div>
				</section>
				
				<aside id="5eee03379de48">
					<h2 class="visually-hidden">Боковая панель / фильтры</h2>
<div class="aside-wrap">
	
	
	
		<div class="filters filt">
	
	
	
		<div class="filter-header">
			<div class="filter-title"><div class="fa"></div><div>По Алфавиту</div></div>
		</div>
		<!-- алфавит -->
		<div class="alfavit-filter">
			<a href="/catalog/0-9" class="alfavit-item active">0-9</a>
<a href="/catalog/%C0" class="alfavit-item ">А</a>
<a href="/catalog/%C1" class="alfavit-item ">Б</a>
<a href="/catalog/%C2" class="alfavit-item ">В</a>
<a href="/catalog/%C3" class="alfavit-item ">Г</a>
<a href="/catalog/%C4" class="alfavit-item ">Д</a>
<a href="/catalog/%C5" class="alfavit-item ">Е</a>
<a href="/catalog/%C6" class="alfavit-item ">Ж</a>
<a href="/catalog/%C7" class="alfavit-item ">З</a>
<a href="/catalog/%C8" class="alfavit-item ">И</a>
<a href="/catalog/%C9" class="alfavit-item ">Й</a>
<a href="/catalog/%CA" class="alfavit-item ">К</a>
<a href="/catalog/%CB" class="alfavit-item ">Л</a>
<a href="/catalog/%CC" class="alfavit-item ">М</a>
<a href="/catalog/%CD" class="alfavit-item ">Н</a>
<a href="/catalog/%CE" class="alfavit-item ">О</a>
<a href="/catalog/%CF" class="alfavit-item ">П</a>
<a href="/catalog/%D0" class="alfavit-item ">Р</a>
<a href="/catalog/%D1" class="alfavit-item ">С</a>
<a href="/catalog/%D2" class="alfavit-item ">Т</a>
<a href="/catalog/%D3" class="alfavit-item ">У</a>
<a href="/catalog/%D4" class="alfavit-item ">Ф</a>
<a href="/catalog/%D5" class="alfavit-item ">Х</a>
<a href="/catalog/%D6" class="alfavit-item ">Ц</a>
<a href="/catalog/%D7" class="alfavit-item ">Ч</a>
<a href="/catalog/%D8" class="alfavit-item ">Ш</a>
<a href="/catalog/%D9" class="alfavit-item ">Щ</a>
<a href="/catalog/%DD" class="alfavit-item ">Э</a>
<a href="/catalog/%DE" class="alfavit-item ">Ю</a>
<a href="/catalog/%DF" class="alfavit-item ">Я</a>
		</div>
		<!-- алфавит -->
	
	
	
	<div class="items-container filter-section" id="items-more-country" style="">
		<div class="container-items-header">Выберите СТРАНУ<i class="fa ico-remove icon-close"></i></div>
		<div class="filter-article"></div>
		<div class="container-items-footer"></div>
	</div>
	<div class="items-container filter-section" id="items-more-ganres" style="">
		<div class="container-items-header">Выберите Жанр<i class="fa ico-remove icon-close"></i></div>
		<div class="filter-article"></div>
		<div class="container-items-footer"></div>
	</div>
	
	<div class="items-container filter-section" id="items-more-career" style="">
		<div class="container-items-header">Выберите тип КАРЬЕРЫ<i class="fa ico-remove icon-close"></i></div>
		<div class="filter-article"></div>
		<div class="container-items-footer"></div>
	</div>
	<div class="items-container filter-section" id="items-more-year" style="">
		
		
		<div class="filter-article">
			<div class="slider">
				<div class="enter">
					<input name="years_ot" type="text" id="ot" style="width: 32px"> -
					<input name="years_do" type="text" id="do" style="width: 32px">
				</div>
				<div id="slider-years" class="slider-years"></div>
			</div>
		</div>
		<div class="container-items-footer"></div>
	</div>
	<div class="items-container filter-section" id="items-more-rip" style="">
		<div class="container-items-header">Выберите Качество<i class="fa ico-remove icon-close"></i></div>
		<div class="filter-article"></div>
		<div class="container-items-footer"></div>
	</div>
	<div class="items-container filter-section" id="items-more-category" style="">
		<div class="container-items-header">Выберите Категории<i class="fa ico-remove icon-close"></i></div>
		<div class="filter-article">
			<span class="item icon-close" data-scope="s" data-value="7">Сериалы</span>
			<span class="item icon-close" data-scope="s" data-value="14">Мультфильмы</span>
			<span class="item icon-close" data-scope="s" data-value="999">Фильмы</span>
			<span class="item icon-close" data-scope="s" data-value="93">Мультсериалы</span>
		</div>
		<div class="container-items-footer"></div>
	</div>
	<div class="items-container filter-section" id="items-more-translate" style="">
		<div class="container-items-header">Выберите перевод / озвучку<i class="fa ico-remove icon-close"></i></div>
		<div class="filter-article"></div>
		<div class="container-items-footer"></div>
	</div>
	
</div>
	
	
	
	
	
	
	
	
	
	
	<noindex>
		
		<div class="remove-sda-wrap">
			<a href="/noads.html" rel="nofollow" class="remove-sda">
				<span>Отключить рекламу</span>
			</a>
		</div>
		
		<div class="info-a">
   <center>
<!-- Composite Start --> <div id="M535442ScriptRootC811145"> </div> <script src="https://jsc.traffic-media.co.uk/f/i/filmix.me.811145.js" async></script> <!-- Composite End -->

   </center>
  </div>
	</noindex>
	<noindex>
		
		
	</noindex>
	<!-- <script async defer type='text/javascript' src="https://filmix.co/templates/Filmix/media/public/js/7b16976cc902e87231ab5ac88d180b9a_info.js"></script> -->
	
	
</div>
				</aside>
				
			</div>
			<div class="page-buffer"></div>
			<div class="page-footer clearfix">
				<footer id="footer">
					<div class="container">
						<div class="copy">&copy;&nbsp;&nbsp;2020 Кинопортал filmix.co
						<span data-href="?force_mobile" class="full-site">Мобильная версия</span></div>
						
						<nav class="footer-menu not-pro">
							<ul>
								<li><a href="https://filmix.co/speedtest" rel="nofollow">SpeedTest</a></li>
								<li><a href="https://filmix.co/advertise.html" rel="nofollow">Реклама</a></li>
								<li><a href="https://filmix.co/agreement.html" rel="nofollow">Соглашение</a></li>
								<li><a href="https://filmix.co/for-owners.html" rel="nofollow">Abuse</a></li>
								<li><a href="https://filmix.co/faq.html" rel="nofollow">Помощь</a></li>
								<li><a href="https://filmix.co/about.html" rel="nofollow">О проекте</a></li>
								
								<!-- <li><a href="https://filmix.co/pro.html" rel="nofollow">Стать <span class="pro-red">PRO</span></a></li> -->
								
							</ul>
						</nav>
					</div>
				</footer>
			</div>
		</div>
		<script type="text/html" id="comment-tmp">
			<div class="comment-box <%=(parent_id != 0) ? 'level-1' : 'level-0' %> my" <%=(parent_id != 0) ? 'data-parent="parent_id"' : ""%> data-id="<%=id%>">
				<div class="avatar-block my">
					
					
					
					
					<div class="pro-comment">
						<div class="white-border">
							<img src="<%=avatar%>" class="avatar">
						</div>
					</div>
				</div>
				<div class="comment" data-id="<%=id%>">
					<header class="comment-header">
						<div class="comment-name">
							<a href="<%=url_user%>">
								<%=user%>
							</a>
						</div>
						<div class="comment-date"><%=time%></div>
						<div class="comment-rating">
							<span class="like"><span>+0</span><i title="Отлично" class="fa btn-tooltip icon-like"></i></span>
							<span class="dislike"><span>-0</span><i title="Плохо" class="fa btn-tooltip icon-dislike"></i></span>
						</div>
						<div class="comment-delete" data-id="<%=id%>"><i class="fa icon-delete"></i>Удалить</div>
						<div class="comment-edit" data-id="<%=id%>"><i class="fa icon-edit"></i>Редактировать</div>
					</header>
					<div class="comment-text <%=(user_data.is_user_pro_plus) ? 'pro-border' : '' %>">
						<% if (($('#main').hasClass('lastcomments') || $('#main').hasClass('social_profile') || $('#main').hasClass('user_info')) && parent_id == 0){%>
							<h4 class="title"><%=post_title%></h4>
						<% } %>
						<div id="comm-id-<%=id%>">
							<%=comment%>
						</div>
						<% if (!$('#main').hasClass('lastcomments') && !$('#main').hasClass('social_profile')) {%>
							<div class="replay-block">
								<span class="replay icon-reviewsNeutral" data-post-id="<%=post_id%>" data-id="<%=id%>">Ответить</span>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</script>
		
		<div class="block-off-light"></div>
		<div class="android-telegram-main">
			<a class="android-link poster-tooltip" title="Скачать Android приложение" href="https://filmix.co/consoles">
				<i class="android-icon"></i>
			</a>
			<!--<a class="telegram-link poster-tooltip" title="Telegram каналы" href="https://filmix.co/telegram.html">
				<i class="telegram-icon"></i>
			</a>-->
		</div>
		<script src="https://filmix.co/templates/Filmix/media/vendor/cropper.js?v3.0.2"></script>
		
		
		<script src="https://filmix.co/templates/Filmix/media/vendor/jquery.mCustomScrollbar.concat.min.js?v3.0.2"></script>
		<script async defer src="https://filmix.co/templates/Filmix/media/vendor/jquery.Jcrop.min.js?v3.0.2"></script>
		
		
		
		<script src="https://filmix.co/templates/Filmix/media/public/js/modal/7b16976cc902e87231ab5ac88d180b9a_modal.js?v3.0.2"></script>
		<script src="https://filmix.co/templates/Filmix/media/public/js/7b16976cc902e87231ab5ac88d180b9a_site.js?v3.0.2"></script>
		<div class="modal-block" id="" data-controller="" data-action="" title=""><div class="dialog-content"></div></div>
		
		<script src="https://filmix.co/templates/Filmix/media/vendor/template.js?v3.0.2"></script>
		<script src="https://filmix.co/templates/Filmix/media/public/js/history/7b16976cc902e87231ab5ac88d180b9a_history.min.js?v3.0.2"></script>
		<script src="https://filmix.co/templates/Filmix/media/public/js/history/7b16976cc902e87231ab5ac88d180b9a_history.js?v3.0.2"></script>
		
		<script async defer src="https://filmix.co/templates/Filmix/media/vendor/jquery.mousewheel.js?v3.0.2"></script>
		<script async defer src="https://filmix.co/templates/Filmix/media/vendor/jquery.nicescroll.js?v3.0.2"></script>
		<script nonce="2726c7f26c" type="text/javascript">
			$(window).load(function(){
				if($('div[class=s5eee03379f87c-a5eee03379f87e] .container').children('center').is(':visible')){
					$('div[class=s5eee03379f87c-a5eee03379f87e]').css('margin-top','30px');
					$('div[class=s5eee03379f87c-a5eee03379f87e] .container').css({'margin-top':'0'})
				} else { $('div[class=s5eee03379f87c-a5eee03379f87e] .container').css({'padding':'0','height':'0','-webkit-transition':'0ms','-moz-transition':'0ms','-o-transition':'0ms','transition':'0ms'})
				}
			});
		</script>
		<style type="text/css">
			.s5eee03379f87c-a5eee03379f87e .container {height: 260px;padding: 30px;margin-top: 30px;padding-top: 20px !important;}
			.s5eee03379f87c-a5eee03379f87e .container:before {left: 0;top: -30px;width: 100%;content: '';height: 30px;display: block;position: absolute;background: #e5e6e8;}
			.play .s5eee03379f87c-a5eee03379f87e .container {padding: 0;width: 900px;padding-top: 20px;background-color: transparent; }
			.play .s5eee03379f87c-a5eee03379f87e .container:before {display: none; }
			.play .s5eee03379f87c-a5eee03379f87e .container .remove-sda-wrap .remove-sda span { color: white; border-image: url("/templates/Filmix/media/img/svg/circle-avd-dark.svg"); border-image-slice: 0 0 1 0; border-image-repeat: repeat; }
			.play .s5eee03379f87c-a5eee03379f87e .container .remove-sda-wrap .remove-sda:before { background-image: url("/templates/Filmix/media/img/svg/proAds-dark.svg"); }
			@media screen and (min-width: 1360px) { .play .s5eee03379f87c-a5eee03379f87e .container {width: 1240px;} }
			@media screen and (min-width: 1950px) { .play .s5eee03379f87c-a5eee03379f87e .container {width: 1590px;} }
			.dark_skin .s5eee03379f87c-a5eee03379f87e .container:before{background: #292c33;}
		</style>
		<script src="https://filmix.co/templates/Filmix/media/public/js/common.js?v3.0.2"></script>
		
		<script src="https://filmix.co/templates/Filmix/media/public/js/catalog.js?v3.0.2"></script>
		

		<script nonce="2726c7f26c" type="text/javascript">
			window.prefix = '7b16976cc902e87231ab5ac88d180b9a';
			meta_key = ['{meta-key-1}', '{meta-key-2}', '{meta-key-3}'];
		</script>
	</body>
</html>